.upper-textarea-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
}

.upper-textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  background-color: #ffffff;
  background-image: none;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  border-radius: 6px;
  transition: all 0.2s;
  min-height: 32px;
  resize: vertical;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

.upper-textarea:focus,
.upper-textarea:hover {
  border-color: #000;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  transform: translateY(2px);
  outline: 0;
}

.upper-textarea-count {
  position: absolute;
  bottom: 0;
  right: 11px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  line-height: 1.5;
  pointer-events: none;
}

.upper-textarea[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
  border-color: #000;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.6;
}

.upper-textarea-error {
  border-color: #ff4d4f;
}

.upper-textarea-error:focus,
.upper-textarea-error:hover {
  border-color: #ff4d4f;
  box-shadow: 2px 2px 0px 0px rgba(255, 38, 5, 0.06);
}

.upper-textarea-warning {
  border-color: #faad14;
}

.upper-textarea-warning:focus,
.upper-textarea-warning:hover {
  border-color: #faad14;
  box-shadow: 2px 2px 0px 0px rgba(250, 173, 20, 0.1);
}

.upper-textarea-autosize {
  overflow-y: hidden;
} 